.git
.github
.venv
venv
**/__pycache__
*.py[cod]
.pytest_cache
pytest-of-root
.coverage
.coverage.*
coverage.xml
htmlcov
site
output
build
dist
*.egg-info
pip-*
.idea
.vscode
*.swp
*.zip
.rename-*
.rename-backup-*
